@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 5%;
  background-color: #3e3e4a;
  width: 100%;
}

.logo {
  font-family: 'Revalia', cursive;
  margin-right: auto;
  font-size: 30px;
  letter-spacing: 10px;
  text-decoration: none;
  color: #d9d9d9;
}

.navmenu li a {
  text-decoration: none;
  color: #d9d9d9;
  font-family: 'Space Mono', monospace;
  letter-spacing: 2px;
  
}

.navmenu {
  list-style: none;
  font-weight: bold;
}

.navmenu li {
  display: inline-block;
  padding: 10px;
}

.navmenu li a:hover {
  color: orangered;
  text-decoration: underline;
}

.gambaratas {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.gambaratas img{
  width: 100%;
  height: 550px;
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}



#catalogue {
    padding-top: 50px;
    display: flex;
    margin-left: 75px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .content-cat1 {
    display: flex;
    justify-content: center;
  }
  
  .container-cat1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content-cat2 {
    display: flex;
    justify-content: center;
  }
  
  .container-cat2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content-cat3 {
    display: flex;
    justify-content: center;
  }
  
  .container-cat3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .desc {
    flex: 1;
    text-align: left;
    padding: 20px;
  }
  
  .desc img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .footer {
    background-color: #d9d9d9;
    padding: 20px 0;
  }
  
  .container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .footer-logo .logo {
    font-size: 24px;
    color: #3e3e4a;
    text-decoration: none;
  }
  
  .footer-social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 10px;
  }

.more h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
  
  /* .footer-social li {
  
  } */
  
  .footer-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  @media (max-width: 768px){
    #menu-bar{
      display: block;
    }
    .header .navmenu{
      position: absolute;
      top: 100%;
      left: -120;
      width: 100%;
      background: #eee;
      border-top: .1rem solid rgba(red, green, blue, alpha);
    }
    .header .navbar{
        font-size: 2rem;
        background: #fff;
        border: .1rem solid #000;
        border-radius: .5rem;
        padding: 1rem;
        margin: 1rem;
        display: block;
        text-align: center;
    }
  }
  